<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <% if @results %>
  <ul>
    <% @results.each do |hash| %>
      <li>Name: <%= hash["name"]%></li>
      <li>Link: <%= link_to hash["html_url"], hash["html_url"]%></li>
      <li>Description: <%= hash["description"]%></li>
    <% end %>
  </ul>
  <% end %>

</div>